@charset "UTF-8";

.navbar-default .navbar-brand {
	color: #7DA66A;
}

@media ( min-width : 768px) { .
	navbar {
		border: 0 none;
		margin-top: 5px;
	}
	.navbar-nav {
		float: left;
		margin: 0 0 0 40px;
	}
	.cons {
		margin: 0px;
	}
}

.navbar-default {
	background-color: #fff;
	border: 0 none;
}

.navbar-brand {
	font-size: 26px;
}

.container-fluid .container {
	width: 100%;
}

.container-fluid .navbar-default .container-fluid .collapse ul {
	padding-top: 0px;
	align-items: center;
	box-sizing: border-box;
}

.container-fluid .navbar-default .container-fluid .collapse ul .dropdown-menu
	{
	transition: 0.5s ease-out;
}

.container-fluid .navbar-default .container-fluid .collapse ul .dropdown-toggle
	{
	margin-left: 20px;
}

.nav.navbar-nav>.lis, .dropdown {
	font-size: 15px;
}

.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	/* text-shadow: 0 1px 2px rgba(0,0,0,.6); */
	filter: alpha(opacity = 50);
	opacity: .5;
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, .0000) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)),
		to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',
		endColorstr='#00000000', GradientType=1);
	/* background-repeat: repeat-x; */
}

.carousel-control.right {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, .0000) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)),
		to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',
		endColorstr='#00000000', GradientType=1);
	/* background-repeat: repeat-x; */
}

.circle {
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	display: inline-block;
	border-radius: 50%;
	display: inline-block;
}

.bbb {
	border: 1px solid #ccc;
	height: 360px;
}

@media ( min-width : 1200px) {
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
		visibility: visible !important;
	}
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
	.thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
	margin: 80px 0 0 0;
}

.pad0 {
	padding-right: 0;
	padding-left: 0;
}

.carousel-caption {
	position: absolute;
	top: calc(50% - 100px);
}

.carousel-caption h2 {
	font-size: 96px;
}

.carousel-caption p {
	font-size: 32px;
}
/*li:hover{
	background-color:#89B2E9;
}*/
.navbar {
	margin-top: 20px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #333;
	background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
	{
	color: #89B2E9;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #333;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #89B2E9;
}

@media screen and (min-width: 768px) {
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-next, .carousel-control .icon-prev {
	width: 60px;
	height: 60px;
	margin-top: -15px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}

.padd60 {
	padding-top: 60px;
}

.title {
	display: inline-block;
	padding: 16px 0px;
	font-weight: bold;
	padding: 16px 0px;
	font-size: 16px;
	width: 100%;
}

.date {
	display: block;
	padding: 12px 0px;
}

.mainNoticeTitle {
	
}

.notice {
	padding: 50px 0;
}

.noticeimg {
	width: 100%;
	height: 166px;
}

.notice .noticelink {
	display: block;
}

.notice .noticelink .noticeimg {
	width: 100%;
	display: block;
	overflow: hidden;
}

.notice .noticelink .noticeimg img {
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.notice .noticelink:hover .noticeimg img {
	transform: scale(1.1, 1.1);
	transition: all 0.3s ease-in-out;
}

footer {
	padding: 50px;
	background: #65aaf0;
}

footer h4 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: bold;
	color: #272727;
}

footer p {
	color: #fff;
}

.contact-info {
	color: #fff;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

.contact-info ul li {
	margin-bottom: 10px;
}

.siderbar-gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}

.siderbar-gallery li {
	display: inline-block;
	margin: 0 10px 10px 0;
	border-radius: 0;
}

.siderbar-gallery li img {
	width: 107px;
	height: 63px;
}

footer.btn-gamp input {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #272727;
	width: 100%;
	height: 36px;
	border: 1px solid #fff;
}

footer.btn-gamp a {
	text-transform: uppercase;
	letter-spacing: 3px;
	background: #272727;
	line-height: 20px;
	border: 1px solid #fff;
	display: inline-block;
	margin-top: 20px;
	color: #fff;
}

.sub-footer {
	background: #272727;
	padding: 30px;
}

ul.social-network {
	list-style: none;
	margin-top: 20px;
	padding: 10px;
	transition: all 0.3s;
}

ul.social-network li {
	display: inline-block;
	margin: 0 50px;
	font-size: 25px;
	margin-left: -10px;
}

ul.social-network li a {
	color: #d0d0d0;
}

.copyright {
	margin-top: 30px;
	text-align: right;
}

.copyright p {
	color: #fff;
	line-geight: 140%;
}

.company .sub-title {
	font-size: 36px;
	color: #444;
	text-align: center;
	letter-spacing: -1px;
	padding: 40px 0 10px 0;
}

.company .cont1 {
	margin: 10px 0 0;
	padding-bottom: 40px;
	font-size: 16px;
	color: #888888;
	text-align: center;
	line-height: 1.3em;
	letter-spacing: -.02em;
}

.company .cont2 {
	margin: 0;
	padding-bottom: 30px;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	letter-spacing: -.03em;
	line-height: 1.4em;
	text-align: center;
}

.company .cont3 {
	color: #444444;
	font-size: 17px;
	line-height: 1.8em;
	text-align: center;
}

.headerline {
	border-bottom: 1px solid #e5e5e5;
}

.company .product {
	padding: 60px 0 80px 0;
}

.margin20 {
	margin-top: -60px;
}
.col-width-18{ width:18%;}

.product {text-align:center;}
.product img{max-width:100%;}
.header .top_right {float:right;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 15px;
}
a {
    color: #333;
   
}


form-signin{
	width: 330px;
}
.con_title {
    padding: 0 0 40px 0;
    margin: 0 0 0 0;
    text-align: center;
    margin-top: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btnArea.Acenter {
    text-align: center;
}
.pt60 {
    padding-top: 60px !important;
}
.pb100 {
    padding-bottom: 100px !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btnArea.Acenter a {
    margin-left: 2px;
    margin-right: 2px;
}


.btn_round {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}
.btn_large {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.btn_BlueGray {
    background: #8d9aaf !important;
    color: #fff !important;
}
.w180 {
    width: 180px !important;
}
a {
    text-decoration: none;
    color: #006700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.btnArea.Acenter {
    text-align: center;
}
.btnArea.Acenter a {
    margin-left: 2px;
    margin-right: 2px;
}
a:link {
    color: #006700;
    text-decoration: none;
}
.btn_pointColor {
    background: #090 !important;
    color: #fff !important;
}
.btn_round {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}
.btn_large {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.w180 {
    width: 180px !important;
}
a {
    text-decoration: none;
    color: #006700;
    font-family: Bradley Hand ITC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.top_border01_p {
    font-size: 125%;
    padding-top: 12px;
    padding-left: 10px;
    color: #755B4A;
    font-weight: bold;
    letter-spacing: 0.1em;
}
#topmain_memo2 {
    width: 900px;
    margin: 0px 30px 15px;
    padding: 10px 10px 10px 10px;
    height: 550px;
    background-color: #FFFFFF;
    text-align: center;
}
.join_write col_989{
   
    font-size: 25px;
   
}






.btn_open_reserv_pop {
    z-index: 30;
    bottom: -31px;
    right: 0;
    display: inline-block;
    height: 44px;
    padding: 0 24px;
    background-color: #a58862;
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

body * {
    font-family: 'Noto Sans KR','Malgun Gothic',dotum,sans-serif,AppleGothic;
}
* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.head_wrap > .inner .header .header_quick .search_box {
}
body * {
    font-family: 'Noto Sans KR','Malgun Gothic',dotum,sans-serif,AppleGothic;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
user agent stylesheet
div {
    display: block;
}
.acc_p4 {
    font-size: 110%;
    padding: 4px 0px 4px 15px;
    text-align: left;
    color: #993333;
    line-height: 140%;
    letter-spacing: 0.2em;
    font-weight: bold;
}
p {
    margin: 0;
    padding: 0;
}
user agent stylesheet
<!--access.write1-->
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    color: #333333;
}
.acc_waku4 {
    padding: 10px 0px 5px 20px;
    margin: 5px 0px 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    width: 640px;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0px;
    padding: 0px;
    color: #333333;
}   
.acc_p3 {
    font-size: 90%;
    padding: 4px 0px 4px 10px;
    text-align: left;
    color: #666666;
    line-height: 150%;
    letter-spacing: 0.06em;
}

p {
    margin: 0;
    padding: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.acc_p5 {
    font-size: 90%;
    padding: 3px 0px 3px 10px;
    text-align: left;
    color: #CC0000;
    line-height: 140%;
    letter-spacing: 0.02em;
    font-weight: bold;
}
p {
    margin: 0;
    padding: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    color: #333333;
}
.search_group {
    float: right;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
<!--header -->

#main_header {
    width: 1300px;
    height: 200px;
    position: relative;
    font-family: a����������M;
    margin: 0px auto;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
header {
    display: block;
}